<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
  <a class="navbar-brand ms-5" href="/">Atom</a>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item ">
      <button>logout</button>
    </li>
    
  </ul>

</nav>