<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    
    <form action="logout-user" id="logoutSubmit"></form>
    <form action="goto-add-stock" id="gotoAddStock"></form>
    <form action="collection" id="collectionSubmit"></form>
  <form action="user-history" id="historySubmit">
    <ul class="list-group fs-2">
      <li class="list-group-item bg-dark text-white" id=" collection-tab" onclick="collectionSubmit.submit()">Collection</li>
      <li class="list-group-item bg-dark text-white" id="stock-tab" onclick="gotoAddStock.submit()">Add stock</li>
      <li class="list-group-item bg-dark text-white" id="history-tab" onclick="historySubmit.submit()">Stock History</li>
      
      <li class="list-group-item bg-dark text-white" onclick="logoutSubmit.submit()">Logout</li>
    </ul>
  </form> 
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <p class="navbar-brand fs-1"  id="shop-name"></p>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<script>
  getHistory = () =>{
 //  $('#history-tab').hide()
    document.getElementById('stock-tab').disabled = true
    console.log('working')
    fetch('/get-history').then((res)=>{
      res.json().then((res)=>{
        console.log()
      })
    })
  }

  

  
</script>