<!--spiner-->

<div class="loading-spinner-parent d-none" id="spinner">
    <div class="spinner-grow loading-spinner text-dark" style="width: 5rem; height:5rem;" role="status">
    </div>
    
  </div>